.sideDrawer {
  position: relative;
  display: block;
  font-size: 13px !important;
  font-weight: 600 !important;
  padding: 0.95rem 1.25rem;
  background-color: #fff;
  color: rgba(106, 105, 105, 0.87);
  border: 1px solid rgba(0, 0, 0, 0.12);
}
