.notfound-content {
  position: relative;
  height: 100vh;
}

.notfound-content .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1 > span {
  text-shadow: -6px 0px 0px rgb(29, 26, 26);
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    position: relative;
    height: 240px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 50px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
    left: 50%;
  }
  .notfound h4 {
    font-size: 16px;
  }
}

.icon-back {
  font-size: 60px !important;
}
